---
export interface Props {
  people: {
    name: string;
    heading: string;
    description: string;
    about: string;
    images: [{ src: string; alt: string }, { src: string; alt: string }];
  }[];
  altTopImg: string;
  personIntroduction: string;
  heading: string;
  welcome: string;
  introduction: string;
  description: string;
}

const props = Astro.props;
---

<main class="flex w-full flex-col gap-12 pb-12">
  <div
    class="flex min-h-screen flex-col items-center justify-center pb-12 text-center sm:py-12"
  >
    <h1 class="mb-8 text-5xl font-bold text-ruzova sm:mb-0 lg:text-7xl">
      {props.heading}
    </h1>
    <img
      src="/about/triple.webp"
      alt={props.altTopImg}
      class="animate-levitate mb-14 sm:mb-0"
    />
    <h2 class="mb-1 text-4xl font-bold">{props.welcome}</h2>
    <p class="mb-6 max-w-md text-lg font-light text-zelena lg:max-w-screen-md">
      {props.introduction}
    </p>
    <p class="max-w-md text-xl lg:max-w-screen-md">
      {props.description}
    </p>
  </div>
  {
    props.people.map((person) => (
      <section class="mx-auto mb-6 grid max-w-md grid-cols-1 gap-4 lg:max-w-screen-lg lg:grid-cols-2 2xl:max-w-none">
        <div class="flex flex-col justify-center">
          <h3 class="mb-0.5 text-4xl font-bold text-ruzova">{person.name}</h3>
          <h4 class="mb-2 text-2xl italic text-zelena">{person.heading}</h4>
          <p set:html={person.description} class="leading-7" />
        </div>
        <img
          class="animate-levitate order-4 mx-auto w-full object-cover md:w-fit lg:order-none"
          src={person.images[0].src}
          alt={person.images[0].alt}
        />
        <img
          class="animate-levitate mx-auto w-full object-cover md:w-fit"
          src={person.images[1].src}
          alt={person.images[1].alt}
        />
        <div class="flex flex-col justify-center">
          <h5 class="mb-1 text-right text-xl italic text-zelena">
            {props.personIntroduction}
          </h5>
          <div
            set:html={person.about}
            class="text-right leading-7 [&_p]:mb-2"
          />
        </div>
      </section>
    ))
  }
</main>
