---
import ThreeDee from "./ThreeDee.astro";

export interface Props {
  people: {
    name: string;
    heading: string;
    description: string;
    about: string;
    models: [string, string];
  }[];
  heading: string;
  description: string;
  introduction: string;
}

const props = Astro.props;
---

<main class="flex w-full flex-col gap-12 pb-12">
  <div
    class="flex h-screen flex-col items-center justify-center py-12 text-center"
  >
    <h1 class="text-5xl font-bold text-ruzova lg:text-7xl">
      {props.heading}
    </h1>
    <ThreeDee
      class="flex-auto"
      models={[
        {
          href: "/models/riso-top.glb",
          rotation: [0, 0, 0],
          position: [1.8, 0.7, 0],
        },
        {
          href: "/models/gabo-top.glb",
          rotation: [0, 0, 0],
          position: [0, 0, 0],
        },
        {
          href: "/models/marcel-top.glb",
          rotation: [0, 0, 0],
          position: [-1.5, 0.3, 0],
        },
      ]}
      camera={{
        position: [0, 0, 6.5],
        fov: 35,
      }}
      light={{
        position: [-3, 6, 8],
      }}
    />
    <p class="max-w-md lg:max-w-screen-md lg:text-lg">
      {props.description}
    </p>
  </div>
  {
    props.people.map((person) => (
      <section class="mx-auto grid max-w-md grid-cols-1 lg:max-w-screen-lg lg:grid-cols-2 2xl:max-w-none">
        <div class="flex flex-col justify-center">
          <h2 class="mb-0.5 text-4xl font-bold text-ruzova">{person.name}</h2>
          <h3 class="mb-2 text-2xl italic text-zelena">{person.heading}</h3>
          <p>{person.description}</p>
        </div>
        <ThreeDee
          class="order-4 !h-96 lg:order-none"
          models={[
            {
              href: person.models[0],
              rotation: [0, 0, 0],
              position: [0, 0, 0],
            },
          ]}
          camera={{
            position: [0, 1.25, 3.55],
          }}
          light={{
            position: [-1, 3, 4],
          }}
        />
        <ThreeDee
          class="!h-72"
          models={[
            {
              href: person.models[1],
              rotation: [0, 0, 0],
              position: [0, 0, 0],
            },
          ]}
          camera={{
            position: [0, 0.1, 1.4],
          }}
          light={{
            position: [0, 1, 1],
          }}
        />
        <div class="flex flex-col justify-center">
          <h4 class="mb-1 text-right text-xl italic text-zelena">
            {props.introduction}
          </h4>
          <p class="text-right">{person.about}</p>
        </div>
      </section>
    ))
  }
</main>
